<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <style>
        body{
            background: #000;
            flex: 1;
        }
        h1{
            color: rgb(17, 221, 95);
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: center;
            margin-top: 200;
        }
        h3{
            color: rgb(27, 208, 193);
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
            margin-top: 200;
        }
        li{
            color: rgb(27, 208, 193);
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            margin-top: 200;
        }
        .main{
            flex: 1;
            align-items: center;
            justify-content:center;
        }
    </style>
</head>
<body>
    <div class="main">
        <h1>Welcome <%= user.name%></h1>
        <h3>Ur email is <%=user.email%></h3>
        <ul>
            <% user.skills.forEach((item)=>{ %>
                <li>
                    <%=item %>
                </li>
            <%})%>
        </ul>
    </div>
</body>
</html>